<html>
    <head>
        <title>Shopping List</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <!-- For DataTables -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
        

    </head>
    <body>
        <div class="container">
          <br><br>
                
                        <div class="d-flex justify-content-between">
                            <h2>Hi <%=user.name%>,</h2>
                            <h2><strong>Shopping List</strong></h2>
                            <a href="/users/logout" class="btn btn-danger" role="button">Logout</a>
                        </div>
                        <hr>

                        
                
                <div class="table-responsive">
                  <table class="table table-hover table-striped" id="myTable">
                    <!-- <caption>Bug List</caption> -->
                  <thead class = "thead bg-success text-white">
                    <tr>
                      <th>ID</th>
                      <th>Product</th>
                      <th>Type</th>
                      <th>Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(var i=0; i<products.length; i++) {%>
                        <tr>
                          <td><%= products[i].ID %></td>
                          <td><%= products[i].product %></td>
                          <td><%= products[i].type %></td>
                          <td><%= products[i].price %></td>
                        </tr>
                      <% } %>
                  </tbody>
                  <tfoot class="thead bg-success text-white">
                    <tr>
                        <th>ID</th>
                        <th>Product</th>
                        <th>Type</th>
                        <th>Price</th>
                    </tr>
                  </tfoot>
                </table>
                
        <script type="text/javascript" src="../js/update.js"></script>
    </body>
</html>
